/*TUDO*/
*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Corbel;
    src: url(corbel-4.ttf);
}

/*CONTAINER*/
.container{
    width: 1215px;
    margin: auto;
}

/*MENU*/
header{
    height: 80px;
}
#imagem{
    height: 56.79px;
    margin-left: 0;
}

#globo{
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    height: 18px;
    width: 17px;
}

#seta{
    position: absolute;
    margin-top: 11px;
    font-size: 10px;
    margin-right: 10px;
}

.image{
    position: relative;
    margin-right: 5px;
}

#logo{
    float: left;
    margin-top: 11.5px;
}

#menu:not(:first-of-type){
    margin-top: 23px;
    margin-right: 20px;
}

#menu{
    position: relative;
    float: right;
}

#menu a{  
    color: #484848;
    text-decoration: none;
    padding: 12px;
    font-size: 16.3px;
    text-shadow: 0.4px 0.49px 0.02px #484848;
    font-family: Corbel;
}

#menu a:hover{
    background-color: rgb( 246, 246, 246);
    border-radius: 60px;
}

#cadastre{
    border: rgb( 246, 246, 246) solid 0.8px;
    border-radius: 60px;
    box-shadow: rgb( 218, 218, 218) 0px 2px 2px;
}

#cadastre:hover{
    box-shadow: rgb( 233, 233, 233) -1px 4px 6px;
}

hr{
    border: rgb( 228, 228, 228) solid 0.3px ;
}

/*DIV*/
#divBody{
    background-color: black;
    height: 1370px;
}

/*ARTICLE*/
article{
    background-color: #fff;
    height: 191px;
}

.busca{
    text-decoration: none;
    color: black;
    background-color: #fff;
    max-width: 1187px;
    width: 90%;
    /*padding: 9.2px 0 11.2px 0;*/
    margin: 0 auto;
    text-align: left;

    display: flex;
    display: -webkit-flex;
    align-items: center;

    -webkit-border-radius: 10px;
    border: rgb( 246, 246, 246) solid 0.8px;
    border-radius: 12px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .08);
}

.item span{
    padding-left: 12px;
    font-size: 11px;
    text-shadow: black 0.3px 0.3px 0.2px ;
    font-weight: lighter;
    text-decoration: none;
    color:black;
    font-family: Corbel;
}

.caixas{
    padding: 1px 0 1px 12px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-family: Corbel;
}
/*BREACKPOINTS MÁXIMOS*/
@media (max-width: 767.9px){
    .busca{
        flex-direction: column;
    }
    .item{
        min-width: 90%;
    }
    .item:not(:last-of-type){
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
}

/*BREACKPOINTS MINÍMOS*/
@media (min-width: 768px){
    .item{
        text-align: left;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
    .item:not(:last-of-type){
        border-right: 1px solid #ccc;
    }
}
    
#button{
    text-decoration: none;
    background-color: none;
    color: #fff;
    font-size: 13px;
    padding-right: 5px;
    text-align: left;
}


.lupa{
    font-size: 16px;
    text-shadow: #fff 0.4px 0.3px 0.2px ;
    text-decoration: none;
    color: #fff;
    margin: 11.3px 10px 11px 15px;
    padding: 13.7px 23px;
    background-image: -webkit-linear-gradient(left,rgb(228, 29, 72),rgb(218, 22, 120));
    border-radius: 8px;
    font-family: Corbel;
}

/*SECTION*/
section{
    background-color: white;
    height: 70px;
}

p{
    padding-top: 25px;
}

#linha{
    margin-top: 5px;
    margin-left: 12px;
    width: 137px;
    border: black solid 1px;
}

#boxer{
    padding: 0 3px;
    border:  rgb(253, 49, 83) solid 3px;
    border-radius: 4px;
    background-color: rgb(253, 49, 83);
    color: white;
    text-decoration: none;
    font-family: Corbel;
    font-size: 10px;
    margin-left: -10px;
    text-shadow: #fff 0.5px 0.4px 0.2px ;
}

.p{
    text-decoration: none;
    color: #484848;
    padding: 12px;
    font-family: Corbel;
    font-size: 19px;
}

/*ASIDE*/
aside{
    background-color: #fff;
    height: 725px;
}

h1{
    font-family: Corbel;
    font-size: 52px;
    margin-left: 13px;
    font-weight: lighter;
    background : -webkit-linear-gradient(left,rgb(134, 14, 90),rgb(222,10,100) ,rgb(247, 17, 107));
  -webkit-background-clip : text;
  -webkit-text-fill-color : transparent;
}

#letra{
    margin-top: -25px;
}

#duascaixas{
    margin: 0 15px;
    clear: both;
}

.box{
    margin-top: 40px;
    height: 12.8cm;
    width: 15.4cm;
    border-radius: 15px;
    background-color: #ccc;
}

#box1{
    float: left;
    background-image: url(primeira2.jpg);
    background-size: 106%;
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, .2);
}

#box2{
    float: right;
    background-image: url(segunda.jpg);
    background-size: 102%;
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, .2);
}

#palavras{
    margin-top: 8.6cm;
    padding: 10px 0 1px 15px;
    background-color: white;
    font-family: Corbel;
    font-size: 18px;
    color: #121212;
    font-weight: lighter;
    text-shadow: #121212 0.3px 0.3px 1px;
}

h2{
    margin-top: 10.27cm;
    padding: 10px 0 1px 17px;
    background-color:white;
    font-family: Corbel;
    font-size: 18px;
    color: #121212;
    font-weight: lighter;
    text-shadow: #121212 0.2px 0.2px 1px;
}

.informacoes{
    background-color:white;
    padding: 2px 0 22px 15px;
    font-family: Corbel;
    font-size: 16px;
    color: #484848;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#informacoes{
    background-color:white;
    padding: 2px 0 41px 15px;
    font-family: Corbel;
    font-size: 16px;
    color: #484848;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#h5{
    padding: 5px 10px;
    border:  none;
    border-radius: 4px;
    background-color: white;
    color: #121212;
    text-decoration: none;
    font-family: Corbel;
    font-size: 10px;
    margin: 20px;
    text-shadow: #121212 0.5px 0.4px 0.2px ;
}

/*FOOTER*/
footer{
    background-color: pink;
    height: 360px;
}